.container-geral {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  flex-direction: column;
  text-align: center;
}

.container-tech h1 {
  font-family: "Space Mono", monospace;
  font-size: clamp(1.5em, 1.5em + 1.5vw, 2em);
}

@media (max-width: 320px) {
  .row-cards {
    width: 80vw;
  }
}

@media (min-width: 375px) {
  .row-cards {
    width: 68vw;
  }
}

@media (min-width: 425px) {
  .row-cards {
    width: 60vw;
  }
}

@media (max-width: 768px) and (min-width: 426px) {
  .row-cards {
    width: 90vw;
  }
}

@media (min-width: 769px) {
  .row-cards {
    width: 80vw;
  }
}

.row-cards {
  flex-wrap: wrap;
}
