.container-geral {
  display: flex;
  align-items: center;
  max-height: 100vh;
  flex-direction: column;
  text-align: center;
}

.container-tech h1 {
  font-family: "Space Mono", monospace;
  font-size: clamp(1.5em, 1.5em + 1.5vw, 2em);
}
