.brand {
  margin-left: 20px;
  font-family: "Space Mono", monospace;
}

.nav-button {
  border: none;
  background: none;
  text-decoration: none;
}

.nav-button span {
  margin-left: 20px;
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.hover-underline-animation {
  position: relative;
  color: white;
  padding-bottom: 20px;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.nav-button:hover .hover-underline-animation::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.togle-button {
  margin-right: 20px;
}
